body {
  background-color:  pink;
  font-family: 'Pixelify sans';

  display: flex;
  justify-content: center;   /* horizontal center */
  align-items: center;       /* vertical center */
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
}

.panel {
  color: white;
  padding: 30px;
  border-radius: 20px;
  width: 830px;
  max-width: 90%;
  margin: 20px auto;
}

.img-btn {
  position: relative;   /* required */
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.img-btn img {
  width: 150px;
  height: auto;
  display: block;
}

.img-btn span {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%); /* MAGIC LINE */
  color: white;
  font-size: 16px;
  font-weight: bold;
  pointer-events: none;
}

.img-btn:hover {
      opacity: 0.85;
    }

    .img-btn:active {
      transform: scale(0.95);
    }

button,
.img-btn span{
  font-family: 'Pixelify Sans', sans-serif;
}

#typing-text::after {
  content: "|";
  animation: blink 1s infinite;
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
